<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AcctAssetDataMapper">

    <select id="list" resultType="com.example.demo.bean.AcctAssetData">
        select
        APPLYSERIALNO applySerialNo,
        LOANSERIALNO loanSerialNo,
        OWNER owner,
        ASSIGNDATE assignDate,
        BALANCE balance,
        STATUS status,
        OWNERNAME ownerName,
        INPUTDATE inputDate,
        INPUTUSER inputUser,
        REMARK remark,
        1 as enumColumn,
        '2022/10/12 13:40:00' as nowTime,
        '18271478051' as phone
        from acct_asset_data
        limit 1
    </select>

</mapper>