<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PubSystemParamsMapper">

    <insert id="add" parameterType="com.example.demo.bean.PubSystemParams">
        insert into pub_system_params(
            PARAM_NAME,
            PARAM_VALUE,
            REMARK,
            CAN_MODIFY
        )values(
            #{paramName, jdbcType=VARCHAR},
            #{paramValue, jdbcType=VARCHAR},
            #{remark, jdbcType=VARCHAR},
            #{canModify, jdbcType=VARCHAR}
        )
    </insert>

</mapper>
